In [1]:
#import selenium and webdriver
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

# Question 1. naukri.com -Data Analyst job details

In [8]:
#get the web page with given url
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(5)

#lets find the place to enter skill,designation,companies
search_job = driver.find_element_by_id("qsb-keyword-sugg")

#Entre the designation 
search_job.send_keys("Data Analyst")

#find place to enter job location
search_loc = driver.find_element_by_id("qsb-location-sugg")

#Enter location
search_loc.send_keys("Bangalore")


#find path for search button and click on enter 
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()
time.sleep(8)

job_titles = []
location = []
companies = []
exp = []
#lets find first 10 job titles
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

for i in titles_tag:
    job_titles.append(i.text)  
job_titles

#find first 10 job locations
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[:10]

for i in locations:
    location.append(i.text)
location
#find first 10 company names
company = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a[1]")[:10]
for i in company:
    companies.append(i.text)
companies

#find required experience
Experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]
for i in Experience:
    exp.append(i.text)
exp



#Let's create a Data-Frame for specified job information
data = list(zip(job_titles,location,companies,exp))

import pandas as pd
df = pd.DataFrame(data, columns = ["Job-Title", "Job-Location", "Company Name", "Experience Required"])
df

,Job-Title,Job-Location,Company Name,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru,Siemens Limited,0-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
4,Data Analyst,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",Edubrigde,0-0 Yrs
5,Data Analyst CX,Bangalore/Bengaluru,Philips India Limited,6-10 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,4-5 Yrs
7,Senior Security Specialist - CS Awareness & Da...,Bangalore/Bengaluru,Cognizant Technology Solutions India Pvt Ltd,4-7 Yrs
8,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Zilingo.com,0-4 Yrs

# Question 2. naukri.com Data Scientist job details

In [9]:
#get the web page with given url
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.naukri.com/"
driver.get(url2)
time.sleep(5)

#lets find the place to enter skill,designation,companies
search_job = driver.find_element_by_id("qsb-keyword-sugg")

#Entre the designation 
search_job.send_keys("Data Scientist")

#find place to enter job location
search_loc = driver.find_element_by_id("qsb-location-sugg")
#Enter location
search_loc.send_keys("Bangalore")

#find path for search button and click on enter 
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()
time.sleep(10)

# find urls for every job 
urls = []
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))
    
#fetching required data from every page
job_title = []
job_location = []
company_name = []
job_desc = []
for i in urls[:10]:
    driver.get(i)
    time.sleep(5)
    #fetching job titles
    try:
        job = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text)
    except NoSuchElementException:
        pass
    #fetch job location
    try:
        loc = driver.find_element_by_xpath("//span[@class='location ']")
        job_location.append(loc.text)
    except NoSuchElementException:
        pass
    #fetch company name
    try:
        company = driver.find_element_by_xpath("//div[@class='jd-header-comp-name']")
        company_name.append(company.text)
    except NoSuchElementException:
        pass
    #fetch full job description
    try:
        desc = driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc.append(desc.text.replace('\n','   '))
    except NoSuchElementException:
        pass

#Creating DataFrame
data = list(zip(job_title,job_location,company_name,job_desc))

df = pd.DataFrame(data, columns = ["Job-Title", "Job-Location", "Company Name", "Job Description"])
df

,Job-Title,Job-Location,Company Name,Job Description
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job description Job description Job Rol...
1,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,Squareroot Consulting Pvt Ltd.,Job description Roles and Responsibilities ...
2,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics3.9(97 Reviews),Job description The Artificial Intelligence ...
3,Senior Data Scientist,"Chennai, Bangalore/Bengaluru, Vadodara",Nielsen3.8(485 Reviews),Job description ABOUT THIS JOB NielsenIQ A...
4,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Job description Roles and Responsibilities ...
5,Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network4.0(238 Reviews),Job description Contributing in developmen...
6,Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated4.0(238 Reviews),"Job description As a Data Scientist, you wou..."
7,Data Scientist - Consumer Analytics,Bangalore/Bengaluru,Eli Lilly and Company4.2(116 Reviews),Job description Core Responsibilities Mode...
8,Data Scientist I,Bangalore/Bengaluru,ANI Technologies Pvt Ltd (Olacabs)4.0(1213 Rev...,Job description The Data Science Machine Lea...

# Question 3. naukri.com Data Scientist job details by applying filters

In [15]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")

#get the web page with given url
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(5)

#lets find the place to enter skill,designation,companies
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
time.sleep(5)

#find path for search button and click on enter 
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()
time.sleep(5)

loc_fltr = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i")
loc_fltr.click()
time.sleep(5)
sal_fltr = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i")
sal_fltr.click()
time.sleep(8)

job_titles = []
job_loc = []
company_name = []
exp_required = []

job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[:10]

company = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a[1]")[:10]

exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

for i in job_title:
    job_titles.append(i.text)
job_titles

for i in location:
    job_loc.append(i.text)
job_loc

for i in company:
    company_name.append(i.text)
company_name

for i in exp:
    exp_required.append(i.text)
exp_required

time.sleep(3)

#creating dataframe
data = list(zip(job_titles,job_loc,company_name,exp_required))
df = pd.DataFrame(data, columns = ["Job Title","Job Location","Company Name","Experience Required"])
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
3,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
4,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
5,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs
6,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
7,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
8,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
9,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs

# Question 4. glassdoor Data Scientist job details

In [13]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")

#get the web page with given url
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)
time.sleep(4)

In [14]:
sign_in = driver.find_element_by_xpath("//div[@class='d-flex justify-content-center order-1 order-md-2 LockedHomeHeaderStyles__flexibleContainer']//button")
sign_in.click()

In [15]:
#lets sign in using glassdoor ID
email = driver.find_element_by_id("userEmail")
email.send_keys("abhinandankadam196@gmail.com")

pass_ = driver.find_element_by_id("userPassword")
pass_.send_keys("20132611")

enter = driver.find_element_by_xpath("//div[@class='mt-std d-flex flex-column align-items-center']//button")
enter.click()
time.sleep(3)

In [19]:
job_title = driver.find_element_by_id("sc.keyword")
job_title.send_keys("Data Scientist")

In [20]:
job_loc = driver.find_element_by_xpath("//div[@class='ml-xsm col-4 p-0 headerSearchInput SearchStyles__searchBarLocationInput css-1ohf0ui']//input")
job_loc.send_keys("Noida")

search = driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/button")
search.click()
time.sleep(5)

In [21]:
#fetching required data 
name = []
days = []
ratings = []
#fetching company names
try:
    c_name = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//span")
    for i in c_name:
        name.append(i.text)
except NoSuchElementException:
    pass
#fetching days/time
try:
    no_of_days = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
    for i in no_of_days:
        days.append(i.text)
except NoSuchElementException:
    pass
#fetching ratings
try:
    rating = driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
    for i in rating:
        ratings.append(i.text)
except NoSuchElementException:
    pass
ratings
names = name[0:30:3]
#creating DataFrame
data = list(zip(names,days,ratings))
df = pd.DataFrame(data,columns = ["Company Name","job posted time","Company Rating"])
df.head(10)

               Company Name job posted time Company Rating
0                  Ericsson             24h            4.1
1             Data Patterns             21d            3.1
2     Ginger Webs Pvt. Ltd.             25d
3                   Wobb.ai             11d
4  Scymes Services Pvt. ltd              4d
5            Biz2Credit Inc            30d+            3.9
6        Algo8 AI Pvt. Ltd.             17d
7                     Crowe            30d+            3.8
8                MasterCard              4d            4.3
9        UnitedHealth Group              7d            3.7

# Question 5. glassdoor Data Scientist salary details

In [16]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(5)

#get the web page with given url
url = " https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)
time.sleep(5)

job = driver.find_element_by_id("KeywordSearch")
job.send_keys("Data Scientist")

In [17]:
loc = driver.find_element_by_id("LocationSearch")
loc.send_keys("Noida")

srch_btn = driver.find_element_by_id("HeroSearchButton").click()

In [18]:
sign_in = driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/div/div/div/div/div[2]/div/a").click()

In [19]:
#lets sign in using glassdoor ID
email = driver.find_element_by_id("userEmail")
email.send_keys("abhinandankadam196@gmail.com")

pass_ = driver.find_element_by_id("userPassword")
pass_.send_keys("20132611")

entre_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']").click()
time.sleep(8)

#fetching required data
min_sal = []
max_sal = []
company = []
avg_sal = []
rating = []
num_salary=[]


#fetching min salary
try:
    min_ = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[1]")[:10]
    for i in min_:
        min_sal.append(i.text)
except NoSuchElementException:
    pass
min_sal

#fetching max salary
try:
    max_ = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[2]")[:10]
    for i in max_:
        max_sal.append(i.text)
except NoSuchElementException:
    pass
max_sal

#fetching company names
try:
    cmpny = driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']//a")[:10]
    for i in cmpny:
        company.append(i.text)
except NoSuchElementException:
    pass
company[:10]

#fetching average salary
try:
    avg = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")[:10]
    for i in avg:
        avg_sal.append(i.text)
except NoSuchElementException:
    pass
avg_sal
#fetching number of salaries
try:
    n_sal = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")
    for i in n_sal:
        num_salary.append(i.text)
except NoSuchElementException:
    pass

#creating a DataFrame
data = list(zip(company,num_salary,avg_sal,min_sal,max_sal))
df = pd.DataFrame(data, columns = ["Company Name","Number of Salaries","Average Salary","Min Salary","Max Salary"])
df

,Company Name,Number of Salaries,Average Salary,Min Salary,Max Salary
0,IBM,18 salaries,"₹9,00,000",₹6L,₹27L
1,Tata Consultancy Services,17 salaries,"₹6,15,289",₹3L,₹13L
2,Accenture,15 salaries,"₹11,63,336",₹6L,₹22L
3,Delhivery,15 salaries,"₹12,18,244",₹5L,₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238",₹4L,₹16L
5,UnitedHealth Group,12 salaries,"₹13,19,140",₹11L,₹15L
6,Valiance Solutions,10 salaries,"₹8,63,750",₹5L,₹15L
7,EXL Service,9 salaries,"₹11,10,000",₹6L,₹15L
8,Optum Global Solutions,9 salaries,"₹13,28,697",₹4L,₹22L
9,ZS Associates,8 salaries,"₹11,42,356",₹2L,₹18L

# Question 6.  flipkart sunglasses

In [4]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")

#get the web page with given url
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(5)

cancel = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
cancel.click()

search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")

search.send_keys("sunglasses")

search_icon = driver.find_element_by_tag_name("svg")
search_icon.click()
time.sleep(5)
#fetch required data
brand_name = []
description = []
prices = []
discounts = []
for i in range(0,4):
    try:
        brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in brand:
            brand_name.append(i.text)
    except NoSuchElementException:
        pass
    
    try:
        P_dsc = driver.find_elements_by_class_name("IRpwTa")     #product description
        for i in P_dsc:
            description.append(i.text)
    except NoSuchElementException:
        pass
    try:
        price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")  #prices
        for i in price:
            prices.append(i.text)
    except NoSuchElementException:
        pass
    try:
        discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")   #discounts
        for i in discount:
            discounts.append(i.text)
    except NoSuchElementException:
        pass
time.sleep(5)        
next_page = driver.find_element_by_class_name("_1LKTO3")   #link to fetch next page
next_page.click()
time.sleep(8)

#creating a dataframe
data = list(zip(brand_name,description,prices,discounts))
df = pd.DataFrame(data,columns=["Brand","Product Description","Price","Discount"])
df.head(100)

,Brand,Product Description,Price,Discount
0,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off
1,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹682,24% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
...,...,...,...,...
95,ROYAL SON,Polarized Retro Square Sunglasses (58),₹899,55% off
96,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
97,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹592,34% off
98,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹499,37% off
99,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹664,66% off

# Question 7.  flipkart iphone-11 reviews

In [2]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")

#get the web page with given url
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace."
driver.get(url)
time.sleep(5)

All = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span").click()
time.sleep(5)

#fetching required data
Rating = []
Review_summary = []
full_review = []
for i in range(0,10):
    
    try : 
        rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            Rating.append(i.text)
    except NoSuchElementException: 
        pass
    try: 
        shrt_review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in shrt_review:
            Review_summary.append(i.text)
    except NoSuchElementException: 
        pass
    try:
        f_review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in f_review:
            full_review.append(i.text)
    except NoSuchElementException: 
        pass
next_page = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]").click()
time.sleep(10)

data = list(zip(Rating,Review_summary,full_review))
df = pd.DataFrame(data, columns = ["Rating", "Review Summary", "Full Review"])
df

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
...,...,...,...
95,5,Simply awesome,Really satisfied with the Product I received.....
96,4,Good choice,So far it’s been an AMAZING experience coming ...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

# Question 8. flipkart- sneakers

In [4]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")

#get the web page with given url
url = "https://www.flipkart.com"
driver.get(url)
cancel = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
cancel.click()
time.sleep(5)

search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")
search.send_keys("sneakers")

search_icon = driver.find_element_by_tag_name("svg").click()
time.sleep(5)

#fetching required data
brand_name = []
description = []
prices = []
discounts = []
for i in range(0,3):
    try:
        brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']") #brand name
        for i in brand:
            brand_name.append(i.text)
    except NoSuchElementException: 
        pass
    try:
        desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]") #description
        for i in desc:
            description.append(i.text)
    except NoSuchElementException: 
        pass
    try:
        price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")  #price
        for i in price:
            prices.append(i.text)
    except NoSuchElementException: 
        pass
    try:
        discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")  #discoundt
        for i in discount:
            discounts.append(i.text)
    except NoSuchElementException: 
        pass
next_page = driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
time.sleep(8)

#creating dataframe
data = list(zip(brand_name,description,prices,discounts))
df = pd.DataFrame(data,columns=["Brand","Product Description","Price","Discount"])
df.head(100)

,Brand,Product Description,Price,Discount
0,Baogi,Shoes For Men Sneakers For Men,₹399,60% off
1,Robbie jones,Casual Sneakers Green Shoes For Men And Boys S...,₹499,50% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,62% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
...,...,...,...,...
95,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
96,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,62% off
97,Robbie jones,Casual Sneakers Green Shoes For Men And Boys S...,₹499,50% off
98,Numenzo,Sneakers For Men,₹449,77% off
99,U.S. POLO ASSN.,LEBRON 2.0 Sneakers For Men,"₹2,199",45% off

# Question 9. myntra-shoes

In [9]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")

#get the web page with given url
url = "https://www.myntra.com/shoes"
driver.get(url)
time.sleep(4)

#applying filters
clr_fltr = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
clr_fltr.click()
time.sleep(3)

price_fltr = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_fltr.click()
time.sleep(3)


#fetching required data
brand_name = []
description = []
prices = []
for i in range(0,5):
    brand = driver.find_elements_by_tag_name("h3")
    shoe_dsc = driver.find_elements_by_class_name("product-product")
    price = driver.find_elements_by_class_name("product-discountedPrice")
    for i in brand:
        brand_name.append(i.text)
    for i in shoe_dsc:
        description.append(i.text)
    for i in price:
        prices.append(i.text)
next_page = driver.find_element_by_xpath("//li[@class='pagination-next']//a")
next_page.click()
time.sleep(8)

#creating dataframe
data = list(zip(brand_name,description,prices))
df = pd.DataFrame(data,columns=["Brand","Product Description","Price"])
df.head(100)

                  Brand                  Product Description      Price
0                  Nike           Men AIR ZOOM Running Shoes   Rs. 8236
1                  Nike            Men Zoom Winflo 8 Running  Rs. 12316
2                  ALDO                    Men Driving Shoes  Rs. 12316
3                  Nike          Men AIR ZOOM PEGASUS 38 Run   Rs. 8046
4                  Nike       Unisex LEBRON XVIII Basketball   Rs. 8799
..                  ...                                  ...        ...
95                 Geox                        Women Sandals   Rs. 7696
96                 Nike          Men Formal Leather Slip-Ons   Rs. 7699
97  KIPRUN By Decathlon  Men Textured Formal Leather Loafers   Rs. 9749
98                 Puma            Men Leather Formal Derbys   Rs. 7857
99         Hush Puppies                 Women Peep Toe Heels   Rs. 9749

[100 rows x 3 columns]

# Question 10. amazon - Laptops by applying icore7 & icore9 filters

In [18]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")

#get the web page with given url
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)

#lets search for laptop data on amazon
search = driver.find_element_by_id("twotabsearchtextbox")
search.send_keys("Laptop")

search_btn = driver.find_element_by_id("nav-search-submit-button")
search_btn.click()
time.sleep(3)

#apply mentioned filters
fltr1 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a") 
fltr1.click()
time.sleep(3)

fltr2 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[28]/span/a/div/label/i")
fltr2.click()
time.sleep(3)

#getting all urls for each laptop
urls = []
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute("href"))

titles = []
ratings = []
prices = []
for i in urls[:10]:
    driver.get(i)
    time.sleep(5)
    #fetching title of laptop
    try:
        title = driver.find_element_by_id("productTitle")
        titles.append(title.text)
    except NoSuchElementException:
        pass
    #fetching rating of laptop
    try:
        rating = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        ratings.append(rating.text)
    except NoSuchElementException:
        pass
    #fetching prices of laptops
    try:
        price = driver.find_element_by_xpath("//td[@class='a-span12']") 
        prices.append(price.text)
    except NoSuchElementException:
        pass   
time.sleep(5)
#Creating DataFrame
data = list(zip(titles,ratings,prices))

df = pd.DataFrame(data, columns = ["Laptop-Title", "Rating", "Price"])
df.head(10)

,Laptop-Title,Rating,Price
0,"Dell Inspiron 5410 14"" FHD Touch Display 2in1 ...",4.5 out of 5,"₹ 91,790.00"
1,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5,"₹ 84,990.00"
2,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...,4.3 out of 5,"₹ 67,990.00"
3,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.1 out of 5,"₹ 97,454.00"
4,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.2 out of 5,"₹ 86,990.00"
5,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,"₹ 59,999.00"
6,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...",4 out of 5,"₹ 1,75,000.00"
7,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",3.9 out of 5,"₹ 78,993.00"
8,HP Pavilion Gaming(2021) 10th Gen Intel Core i...,3 out of 5,"₹ 91,990.00"
9,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,4.4 out of 5,"₹ 76,990.00"